<!-- http://getbootstrap.com/components/ -->
{% extends "bootstrap/base.html" %}

{% block title %} Runr - Plan your running! {% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/mysite.css')}}">
{% endblock %}

{% block navbar %}
<div class="navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Runr</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Login</a></li>
                <li><a href="/">Register</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}